/* base
------------------------------------------------------ */
$imagesPath: "images";

/* colours
------------------------------------------------------ */

	/* base colours
	----------------------- */
	$textColour: #000;
	$linkColour: #6ab2e2;

	/* basic colours
	----------------------- */
	$darkBlue: #0d223f;
	$lightBlue: #6ab2e2;
	$lighterBlue: #f0f7fc;

	/* lines
	----------------------- */
	$line: #ddedf8;				// main border colour on white

/* typography
------------------------------------------------------ */
$fontFamily: 'Source Sans Pro', sans-serif;

/* forms and error/success messages
------------------------------------------------------ */
$red: #da2222;

